<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Company</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i" [user]="user" [index]="i" appListItem ></tr>
    </tbody>
</table>
