<p>
    <span *ngIf="!user">Loading...</span>
    <div *ngIf="user">
        <h3>View {{ user.name }} account data</h3>
        <a routerLink="/edit/{{ user.id }}">Edit</a>
        <app-user-view-block [data]="user" [blockName]="'Account Data'" [labels]="labels"></app-user-view-block>
    </div>
