
<section class="editBlock" *ngIf="!isTop" [formGroup]="form">
    <h4>{{ blockName | titlecase }}</h4>
    <div *ngFor="let field of getKeys(labels)">
        <app-user-form-block
            *ngIf="isObject(labels[field])"
            [blockName]="field"
            [labels]="labels[field]"
            [form]="form.controls[field]"
            [isTop]="false"
        ></app-user-form-block>
        <label *ngIf="!isObject(labels[field])">
            <h6>{{ field | titlecase }}:</h6>
            <input
                type="text"
                name="{{ field }}"
                id="{{ field }}" 
                [formControlName]="field" /> 
        </label>
    </div>
</section>

<section class="editBlock" *ngIf="isTop" [formGroup]="form">
    <h4>{{ blockName | titlecase }}</h4>
    <div *ngFor="let field of getKeys(labels)">
        <app-user-form-block
            *ngIf="isObject(labels[field])"
            [blockName]="field"
            [labels]="labels[field]"
            [form]="form.controls[field]"
            [isTop]="false"
        ></app-user-form-block>
        <label *ngIf="!isObject(labels[field])">
            <h6>{{ field | titlecase }}:</h6>
            <input
                type="text"
                name="{{ field }}"
                id="{{ field }}" 
                [formControlName]="field" /> 
        </label>
    </div>
</section>
    