.editBlock {
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    margin: 5px;

    h6 {
        margin: 10px;
        display: inline;
    }

    h4 {
        margin: 10px auto;
    }

    .editBlock {
        width: 90%;

        .editBlock {
            width: 90%;
        }
    }
}
