<div class="appWrapper">
    <h3>{{ title }}</h3>
    <ul>
        <li><a routerLink="/list">List</a></li>
        <li><a routerLink="/new">New User</a></li>
    </ul>

    <app-users></app-users>
    <app-messages></app-messages>