<div class="viewBlock">
    <h6>{{ blockName | titlecase }}</h6>
    <div *ngFor="let field of getKeys(data)">
        <div *ngIf="isObject(data[field]); then blockView; else rowView"></div>
        <ng-template #blockView>
            <app-user-view-block [data]="data[field]" [blockName]="field" [labels]="labels[field]"></app-user-view-block>
        </ng-template>
        <ng-template #rowView>
            <app-user-view-row [label]="labels[field]" [value]="data[field]"></app-user-view-row>
        </ng-template>
    </div>
