.viewBlock {
    border: 1px solid grey;
    width: 100%;
    padding: 10px;
    margin: 5px;
}
.viewBlock h6 {
    margin: 10px auto;
}
.viewBlock .viewBlock {
    width: 98%;
}
.viewBlock .viewBlock .viewBlock {
    width: 96%;
}