.viewRow {
    display: -webkit-flex;
    -webkit-flex-direction: row;

    display: flex;
    flex-direction: row;
}
.viewRow .viewRowLabel {
    -webkit-flex: 1;
    flex: 1;

    width: 30px;
}
.viewRow .viewRowValue {
    -webkit-flex: 2;
    flex: 2;

    width: 30px;
}