<div class="editUserComponent">
    <h3>New/Edit user</h3>
    <form (ngSubmit)="saveForm()" [formGroup]="userForm">
        <app-user-form-block
            [isTop]="true"
            [form]="userForm"
            [values]="data"
            [blockName]="'Edit Account Data'"
            [labels]="labels"
        ></app-user-form-block>
        <div>
            <input type="submit" value="Add/Update" />
        </div>
    </form>
    {{ userForm.valid | json }}
